<h1>User detail</h1>

<h2><i><%=flash[:notice] %></i></h2>

<table class="users">
	<tr>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email Address</th>
	</tr>
		<tr>
			<td><%= @user['id'] %></td>		
		    <td><%= @user['first_name'] %></td>
		    <td><%= @user['last_name'] %></td>
		    <td><%= @user['email_address'] %></td>
		</tr>
</table>